* {
  font-family: 'Arial', sans-serif;
}

body {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
}

.container {
  background: #fff;
  padding: 25px;
  align-content: center;
  width: 35%;
  height: 100%;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  text-align: right;
}

h1 {
  text-align: center;
  color: #444;
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  font-weight: bold;
  color: #444;
  margin-bottom: 5px;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
  text-align: right;
  box-sizing: border-box;

}

input:focus {
  border-color: #2575fc;
  box-shadow: 0px 0px 5px rgba(37, 117, 252, 0.5);
}

.error {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
  display: none;
}

.submit {
  width: 100%;

  background: #4aa356;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
  text-align: center;
  box-sizing: border-box; 

}

.submit:hover {
  background: #139324;
  cursor: pointer;
}

.Line {
  margin-top: 30px;
}

.link {
  font-size: 14px;
  font-weight: bold;
  color: #444;
  margin-bottom: 5px;
  display: block;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
  font-size: 14px;
  color: #444;
  float: right;
}

.remember-me input {
  width: auto;
  cursor: pointer;
}


